#title {
    font-size: 3em;
    color: rgb(0, 0, 255);
}

.quote {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

#my-image {
    padding: 20px;
    background-color: green;
    width: 300px;
    height: 300px;
    left: 200px;
}
#my-div {
    width: 100px;
    height: 100px;
    background-color: green;
}
.player {
    width: 100px;
    position: fixed;
}

.enemy3 {
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
}
.playground {
    height: 500px;
    width: 500px;
}